@import "../../base/variables.scss";
@import "../../base/placeholders.scss";

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
  .cards {
    height: 100vh;
    width: 13%;
    display: flex;
    flex-direction: column;

    margin: 1rem;
  }
  .block1 {
    @extend %card;
    .quantidade {
      font-family: $main-font;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .descricao {
      font-family: $main-font;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .block2 {
    @extend %card;
    margin-top: 1rem;
    .quantidade {
      font-family: $main-font;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .descricao {
      font-family: $main-font;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .block3 {
    @extend %card;
    margin-top: 1rem;
    .quantidade {
      font-family: $main-font;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .descricao {
      font-family: $main-font;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .graficos {
    margin: 1rem;
    width: 28%;
    height: 38%;
    background-color: #ffffff;
    border-radius: 1rem;
    .grafico1 {
      h1 {
        font-family: $main-font;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 1.2rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
    }
  }
}
